---
layout: default
---

<article class="chapter">
  <h1 class="chapter-title">{{ page.chapter }}</h1>
  <h2 class="chapter-subtitle">{{ page.title }}</h2>
  {{ content }}

<h3>Indlæg i dette kapitel:</h3>
  {% for category in site.categories %}
    {% for posts in category offset:1 %}
      {% for post in posts %}
  <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>
      <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
      <p>{{ post.excerpt }}</p>
<a href="{{ post.url }}">Læs resten af indlægget ...</a>
  <hr>
      {% endfor %}
    {% endfor %}
{% endfor %}

  {% include nav_interna.html %}

  {% if page.comments %}
  	<hr>
  	{% include disqus.html %}
  {% endif %}
</article>
