---
layout: default
---

<article class="chapter">
  <h1 class="chapter-title">{{ page.chapter }}</h1>
  <h2 class="chapter-subtitle">{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}

  {% for category in site.categories %}
  <h3>Indlæg i dette kapitel:</h3>
    <ul>
    {% for posts in category offset:1 %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
      <p>{{ post.excerpt }}</p>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}

  {% include nav_interna.html %}

  {% if page.comments %}
  	<hr>
  	{% include disqus.html %}
  {% endif %}
</article>
