---
layout: default
---

<article class="chapter">
  <h1 class="chapter-title">{{ page.chapter }}</h1>
  <h2 class="chapter-subtitle">{{ page.title }}</h2>
  {{ content }}
{% if capitulos.type == modul %}
  <div class="featured" id="featured">
    <h4>Indlæg i dette modul:</h4>

    {% for post in site.posts %}
    {% for modul in page.modul %}
    {% if post.modul == modul %}
    
    <div>
        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time> 
       <div id="comments">
 <span>
<a class="btn btn-default btn-sm">
  <i class="fa fa-comments"></i></a>
 <a href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a>
   </span>
  </div>
      <p>{{ post.excerpt }}</p>
 <a href="{{ BASE_PATH }}{{ post.url }}">Læs resten af indlægget ...</a>
        <hr>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  {% endif %} 
  <script>
    var element = document.getElementById("featured");
    var numberOfChildren = element.getElementsByTagName('*').length
    if (numberOfChildren == 1) {
      document.getElementById("featured").innerHTML = "<h4>Der findes i øjeblikket ingen opslag fra dette modul&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp¯\\_(ツ)_/¯</h4>";
    }
  </script>
  {% include nav_interna.html %}

  {% if page.comments %}
  	<hr>
  	{% include disqus.html %}
  {% endif %}
</article>
